<script type="module" src="/g/@vite/client"></script>
<script type="module">
  import RefreshRuntime from '/g/@react-refresh';
  RefreshRuntime.injectIntoGlobalHook(window);
  window.$RefreshReg$ = () => {};
  window.$RefreshSig$ = () => (type) => type;
  window.__vite_plugin_react_preamble_installed__ = true;
  window.__VITE_IS_MODERN__ = true;
</script>
<div id="root"></div>
<script type="module" src="/g/src/main.tsx"></script>

